---
interface Props {
    title?: string;
}
const { title = "Home" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>🌎 Blog | {title}</title>
    </head>
    <body>
        <slot />
        <style>
            body {
                background: #202020;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </body>
</html>
